<nav {{#cssId}}id="#{{cssId}}" {{/cssId}}class="nm-admin-menu nav navbar-nav{{#cssClasses}} {{{.}}}{{/cssClasses}}" {{#cssStyle}}style="{{cssStyle}}"{{/cssStyle}} >
	<core-toolbar><span>{{appName}}</span></core-toolbar>
	{{> PolymerCoreMenu }}
</nav>
