{{#selected}}selected="{{{.}}}"{{/selected}} {{#multi}}multi{{/multi}} {{#valueAttr}}valueAttr="{{{.}}}"{{/valueAttr}}
{{#selectedClass}}selectedClass="{{{.}}}"{{/selectedClass}} {{#selectedProperty}}selectedProperty="{{{.}}}"{{/selectedProperty}} {{#selectedAttribute}}selectedAttribute="{{{.}}}"{{/selectedAttribute}}
{{#selectedItem}}selectedItem="{{{.}}}"{{/selectedItem}} {{#selectedModel}}selectedModel="{{{.}}}"{{/selectedModel}} {{#selectedIndex}}selectedIndex="{{{.}}}"{{/selectedIndex}}
{{#excludedLocalNames}}excludedLocalNames="{{{.}}}"{{/excludedLocalNames}} {{#target}}target="{{{.}}}"{{/target}}
{{#itemsSelector}}itemsSelector="{{{.}}}"{{/itemsSelector}} {{#activateEvent}}activateEvent="{{{.}}}"{{/activateEvent}} {{#notap}}notap{{/notap}}
