{{> ModBaseCss-begin }}
<form>
	<legend>dummy login form</legend>
	<label>Email: <input name="email" class="form-control"/></label>
	<label>Password: <input name="password" type="password" class="form-control"/></label>
</form>
{{> ModBaseCss-end }}
