<nav {{#cssId}}id="#{{cssId}}" {{/cssId}}class="n-mod-container navbar {{#inverse}}navbar-inverse {{/inverse}}{{^inverse}}navbar-default {{/inverse}}{{#fixed}}navbar-fixed-{{fixed}} {{/fixed}}{{#cssClasses}} {{{.}}}{{/cssClasses}}" {{#cssStyle}}style="{{cssStyle}}"{{/cssStyle}}>
{{{View.getContents}}}
</nav>