{{=[[ ]]=}}
<core-toolbar [[#extraAttributes]][[{.}]][[/extraAttributes]]>
	[[# title ]]<div flex>[[title]]</div>[[/ title ]]
	[[# buttons ]]
	<core-icon-button icon="[[icon]]"></core-icon-button>
	[[/ buttons ]]
	[[ View.getcontents ]]
</core-toolbar>
