aaax

<na-table fields="['title','slug']">
	<na-field index="_id"></na-field>
	<na-fieldset>
		<na-field index="title" label="hux"></na-field>
	</na-fieldset>
</na-table>
<script>
	document.querySelector('body').removeAttribute('unresolved');
</script>
