<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	{{#meta}}
	<meta name="{{name}}" content="{{content}}" />
	{{/meta}}

	<title>{{title}}</title>

	{{#get_withRoot_css}}
	{{#onlyIf}}<!-- IF {{onlyIf}} -->{{/onlyIf}}
	<link rel="stylesheet" {{#media}}media={{media}}{{/media}} href="{{href}}" />
	{{#onlyIf}}<!-- IF {{onlyIf}} -->{{/onlyIf}}
	{{/get_withRoot_css}}

	<script type="text/javascript">
		var noGlobal = false;
	</script>

	<script data-main="assets/js/main" src="assets/js/require.js"></script>

	{{#get_ScriptsHead}}
	{{#src}}<script src="{{{src}}}" ></script>{{/src}}
	{{/get_ScriptsHead}}
	<script>
	{{#get_ScriptsHead}}
	{{#code}}{{{code}}}{{/code}}
	{{/get_ScriptsHead}}
	</script>

</head>
<body {{#cssId}}id="#{{cssId}}"{{/cssId}} class="n-mod-page{{#get_withRoot_cssClasses}} {{.}}{{/get_withRoot_cssClasses}}" {{#get_withRoot_cssStyle}}style="{{{.}}}"{{/get_withRoot_cssStyle}}>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="navbar-brand">Maui/Ninja demo app</a>
		</div>
	</div>
</div>

<div class="container-fluid">
	{{{ get_Contents }}}
</div>

{{#get_ScriptsFoot}}
{{#src}}<script src="{{{src}}}" ></script>{{/src}}
{{/get_ScriptsFoot}}
<script>
{{#get_ScriptsFoot}}
{{#code}}{{{code}}}{{/code}}
{{/get_ScriptsFoot}}
</script>

</body>
</html>
