<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	{{#meta}}
	<meta name="{{name}}" content="{{content}}" />
	{{/meta}}

	<title>{{title}}</title>

	{{#css}}
	{{#onlyIf}}<!-- IF {{onlyIf}} -->{{/onlyIf}}
	<link rel="stylesheet" type="text/css" {{#media}}media={{media}}{{/media}} href="{{href}}" />
	{{#onlyIf}}<!-- IF {{onlyIf}} -->{{/onlyIf}}
	{{/css}}

	{{#get_ScriptsHead}}
	{{#src}}<script src="{{{src}}}" ></script>{{/src}}
	{{/get_ScriptsHead}}
	{{#get_ScriptsHead}}
	{{#code}}<script src="{{{code}}}" ></script>{{/code}}
	{{/get_ScriptsHead}}

</head>
<body {{#cssId}}id="#{{cssId}}"{{/cssId}} class="n-mod-page{{#cssClasses}}.{{cssClass}}{{/cssClasses}}" >

{{{ get_Contents }}}

{{#get_ScriptsFoot}}
{{#src}}<script src="{{{src}}}" ></script>{{/src}}
{{/get_ScriptsFoot}}
{{#get_ScriptsFoot}}
{{#code}}<script >{{{code}}}</script>{{/code}}
{{/get_ScriptsFoot}}
</body>
</html>
