<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	{{#Model.baseHref}}
	<base href="{{Model.baseHref}}" />
	{{/Model.baseHref}}

	{{#meta}}
	<meta name="{{name}}" content="{{content}}" />
	{{/meta}}

	<title>{{Model.title}}</title>

	{{#View.getWithRoot_css }}
	{{#onlyIf}}<!-- IF {{onlyIf}} -->{{/onlyIf}}
	<link {{#rel}}rel="{{rel}}"{{/rel}} {{#media}}media={{media}}{{/media}} href="{{href}}" />
	{{#onlyIf}}<!-- IF {{onlyIf}} -->{{/onlyIf}}
	{{/View.getWithRoot_css}}

	{{#View.getScriptsHead}}
	{{#src}}<script src="{{{src}}}" ></script>{{/src}}
	{{/View.getScriptsHead}}
	<script>
	{{#View.getScriptsHead}}
	{{#code}}{{{code}}}{{/code}}
	{{/View.getScriptsHead}}
	</script>

</head>
<body {{#cssId}}id="#{{cssId}}"{{/cssId}} class="nm-page{{#View.getWithRoot_cssClasses}} {{.}}{{/View.getWithRoot_cssClasses}}" {{#View.getWithRoot_cssStyle}}style="{{{.}}}"{{/View.getWithRoot_cssStyle}} {{#View.getWithRoot_extraAttributes}}{{{.}}}{{/View.getWithRoot_extraAttributes}}>

{{{ Contents.header }}}
{{{ Contents.columns }}}
{{{ Contents.footer }}}

{{#View.getScriptsFoot}}
{{#src}}<script src="{{{src}}}" ></script>{{/src}}
{{/View.getScriptsFoot}}
<script>
{{#View.getScriptsFoot}}
{{#code}}{{{code}}}{{/code}}
{{/View.getScriptsFoot}}
</script>

</body>
</html>
