
.side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
}
.side-nav>li>a {
	width: 225px;
}
.side-nav>li.active {
	border-left: 7px solid #2A9FD6;
}

.nav > li {
	position: relative;
	display: block;
}

.navbar-nav > li {
	float: left;
}