<{{containerEl}} {{#cssId}}id="#{{cssId}}" {{/cssId}}class="nm-container{{#cssClasses}} {{{.}}}{{/cssClasses}}" {{#cssStyle}}style="{{cssStyle}}"{{/cssStyle}} {{#Model.unresolved}}unresolved{{/Model.unresolved}}>
